@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

  /* анимация */

.rotation-element {
  animation: rotation linear 20s infinite;
}

  /* описание шапки header*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
  z-index: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  height: 32px;
  top: 30px;
  left: 64px;
}

.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -1;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  align-self: center;
  margin-left: 64px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity .5s ease;
}

.header__link:hover {
  opacity: .5;
}

/* конец шапки header*/


/* начало секции description */
.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__span-accent {
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
}

/* конец секции description */


/* начало секции techniques */
.techniques {
  width: 80%;
  margin: 100px auto 0;
}

.cards {
  width: 920px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  text-align: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
}

.cards__item {
  list-style-type: none;
  margin-top: 60px;
  margin-left: 0;
  padding-left: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 40px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 43px 0 16px;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

/* конец секции techniques */


/* начало секции с видео*/

.video {
  margin: 100px auto 0;
}

.video__iframes {
  margin: 0 auto 0;
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}

.video__iframe {
  margin-right: 20px;
  width: 515px;
  height: 316px;
  border: 0;
}

.video__iframe:last-of-type {
  margin: 0;
}

/* конец секции с видеo*/

.oakley {
  background-color: #f2f2f2;
  padding-top: 160px;
}


/* начало секции feynman */

.feynman {
  height: 890px;
  background: #f2f2f2 url(/images/feynman.png) no-repeat left bottom;
  background-size: 867px 637px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  padding-top: 100px;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  text-align: center;
  margin-bottom: 70px;
  display: flex;
  margin-top: 100px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  opacity: 1;
  transition: opacity .5s ease;
}

.feynman__link:hover {
  opacity: 0.5;
}

/* конец секции feynman */

/* начало секции digits таблица 1*/

.digits {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__text:last-of-type {
  margin-bottom: 0;
}

/* конец секции digits */


/* секция khan*/

.khan {
  padding-top: 105px;
  display: flex;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 50px;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin: 0 0 36px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 68px;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 606px;
  height: 620px;
  margin-right: 48px;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  align-self: flex-start;
  opacity: 1;
  transition: opacity .5s ease;
}

.khan__buy-link:hover {
  opacity: 0.5;
}

/* кoнец секции khan*/

/* начало секции kaufman таблица 2 */
.kaufman {
  background-color: #000000;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  z-index: 0;
}

.section-title_theme_dark {
  color: #f2f2f2;
}

.section-subtitle_theme_dark {
  color: #f2f2f2;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  height: 877px;
  width: 877px;
  background-image: url(/images/kaufman-triangle.svg);
  background-size: contain;
  right: -210px;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* конец секции kaufman*/

/* начало resource*/
.resources {
  padding-top: 100px;
  padding-bottom: 217px;
}

.resources__logo-zone {
  list-style-type: none;
  width: 1100px;
  display: flex;
  margin: 80px auto 0;
  padding: 0;
  justify-content: center;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

/* конец resource*/

/* начало подвала footer*/

.footer {
  min-height: 350px;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  background-color: #000000;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__social-icons {
  width:16px;
  height:16px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

 .logo_place_footer {
  height: 35px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #f2f2f2;
  opacity: 1;
  transition: opacity .5s ease;
}

.footer__column-link:hover {
  opacity: 0.5;
}
.footer__column-link:last-of-type {
  margin-bottom: 16px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  }

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}

/* конец подвала footer */
